{% extends 'base.html.twig' %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="#tm-main-section"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Blog</a>
    </li>
     <li class="nav-item"> 
        <a class="nav-link" href="#bottom"><i class="fa fa-pencil" aria-hidden="true"></i> Contact</a>
    </li>
{% endblock %}


{% block externalinks %}
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('gallery') }}"><i class="fa fa-paint-brush" aria-hidden="true"></i> Gallery</a>
    </li>
{% endblock %}

{% block admin %}
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('article_new') }}"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Créer un article</a>
    </li>
{% endblock %}


{% block introtext %}
    <p class="tm-intro-text">Welcome to my gallery</p>
    {# we display flash message wich name is « notice » #}
    {% for message in app.session.flashbag.get('notice') %}
        <p> {{ message }}</p>
    {% endfor %}
    <a href="#tm-main-section" class="tm-intro-link"><i class="fa fa-caret-down"></i></a>
{% endblock %}    

{% block body %}
    <div class="row gray-bg">  

        <div id="tm-main-section" class="tm-section">
            <div class="tm-container tm-container-wide">
            {% if articlelist is empty %}
                <p class="msg-flash"> Il n y a pas encore de contenu </p>
            {% else %}
                {% for article in articlelist %}
                
                    <div class="tm-news-item">
                         
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 {% if loop.index0 % 2 %}flex-order-2{% endif %} tm-news-item-img-container">
                           {% if article.mainImage != null %}
                                <img src="{{  asset(article.mainImage) }}" alt="" class="img-fluid tm-news-item-img"> 
                            {% else %}
                                <img src="{{ asset('bundles/app/img/tm-600x300-02.jpg') }}" alt="Image" class="img-fluid tm-news-item-img">      
                            {% endif %}    
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container flex-order-1">
                            <h2 class="tm-news-title dark-gray-text">{{ article.title|upper }}</h2>
                            <p class="tm-news-text">{{ article.subtitle }}</p>
                            <a href="{{ path('article', {'id':article.id}) }}" class="btn tm-light-blue-bordered-btn tm-news-link">Voir l'article</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            </div>    
        </div>

    </div> <!-- row -->
{% endblock %}

{% block contact %}
    {{ include("navigation/contactmodal.html.twig") }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/contact.js') }}"></script>
{% endblock %}