{% form_theme formimg "form/fields.html.twig" %}


<div class="well">
    {{ form_start(formimg, {'attr': {'class': 'form-horizontal addimage'}}) }}

    {# general errors of the form #}
    {{ form_errors(formimg) }}

    <div class="form-group">
        {# label generating #}
        {{ form_label(formimg.file, "Image", {'label_attr': {'class': 'adit-file col-sm-2 control-label'}}) }}

        {# Displaying of errors of this field #}
        {{ form_errors(formimg.file) }}

        <div class="col-sm-10">
            {# input generating #}
            {{ form_widget(formimg.file) }}
        </div>
    </div>

  {# we just display the widget for the button #}
  {{ form_widget(formimg.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# auto generating of the fields wich are not read again.
     In this example, the field CSRF will be generate automatically
     and all hidden fields (type « hidden »). #}
  {{ form_rest(formimg) }}

  {# close the mark <form> of  HTML formulaire #}
  {{ form_end(formimg) }}
</div>
