{% extends 'base.html.twig' %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="#tm-main-section"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Rédiger</a>
    </li>
{% endblock %}

{% block externalinks %}
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('gallery') }}"><i class="fa fa-paint-brush" aria-hidden="true"></i> Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('contact') }}"><i class="fa fa-pencil" aria-hidden="true"></i> Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('homepage') }}"><i class="fa fa-reply-all" aria-hidden="true"></i> Blog</a>
    </li>
{% endblock %}

{% block body %}
<div class="row">
    <div id="tm-section-1" class="tm-section">
        <div class="col-md-12">
            <h1 class="text-xs-center blue-text tm-page-2-title">Lumino Bootstrap 4.0 Columns</h1>
            <p class="text-xs-center tm-page-2-p tm-page-2-subtitle">
                Etiam at rhoncus nisl. Nunc rutrum ac ante euismod cursus. <br>
                Suspendisse imperdiet feugiat massa nec iaculis.
            </p>
            <img src="{{ asset('bundles/app/img/tm-1800x600-01.jpg') }}" class="img-fluid tm-banner-img" alt="Image">            
        </div>
    </div>                
</div>

<div class="row">
    <section id="tm-main-section" class="tm-section">
            <div class="tm-container">
                <div class="col-xs-12 article-big-title"><h3>{% block formtitle %}{% endblock %}</h3></div>
                                
                {% include('articles/form.html.twig') %}
            
                <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à la liste des tâches</a>
            </div>
    </section>
</div>
{% endblock %}