{% extends 'base.html.twig' %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="#tm-main-section"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Supprimer l'article</a>
    </li>
{% endblock %}

{% block externalinks %}
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('gallery') }}"><i class="fa fa-paint-brush" aria-hidden="true"></i> Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('contact') }}"><i class="fa fa-pencil" aria-hidden="true"></i> Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link external" href="{{ path('homepage') }}"><i class="fa fa-reply-all" aria-hidden="true"></i> Blog</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div id="tm-main-section" class="tm-section">
            <div class="col-md-12">
                <h1 class="text-xs-center blue-text tm-page-2-title"> {{ article.title }} </h1>
                <p class="text-xs-center tm-page-2-p tm-page-2-subtitle">
                    Êtes vous sur de vouloir supprimer cet article ?
                </p>
                <div class="tm-flex-center">
                    <a href="{{ path('article_delete', {'id':article.id,'state':'delete'}) }}" class="btn btn-default btn-lg tm-gray-btn">Oui supprimer cet article</a>
                    <a href="{{ path('homepage') }}" class="btn btn-default btn-lg tm-gray-btn">Non retourner à l'accueil</a>
                </div>
                <img src="{{ asset('bundles/app/img/tm-1800x600-01.jpg') }}" class="img-fluid tm-banner-img" alt="Image">            
            </div>
        </div>                
    </div>
{% endblock %}